<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>FixMask</key>
			<string>0x0000</string>
			<key>Fixes</key>
			<dict>
				<key>FixDisplay</key>
				<false/>
				<key>FixIntelGfx</key>
				<true/>
			</dict>
			<key>Name</key>
			<string>dsdt.aml</string>
		</dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
			</dict>
			<key>GenerateIvyStates</key>
			<true/>
			<key>MinMultiplier</key>
			<integer>8</integer>
			<key>PLimitDict</key>
			<integer>0</integer>
			<key>PluginType</key>
			<integer>1</integer>
			<key>UnderVoltStep</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>npci=0x2000 darkwake=0 dart=0 kext-dev-mode=1 -cdfon -igfxnohdmi</string>
		<key>DefaultVolume</key>
		<string>macOS Mojave</string>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>Log</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>CPU</key>
	<dict>
		<key>BusSpeedkHz</key>
		<string>100000</string>
		<key>C2</key>
		<true/>
		<key>C4</key>
		<true/>
		<key>C6</key>
		<true/>
		<key>turbo</key>
		<true/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>0</integer>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>ATI</key>
			<string>0x0</string>
			<key>IntelGFX</key>
			<string>0x04128086</string>
			<key>LAN</key>
			<string>0x0</string>
			<key>NVidia</key>
			<string>0x0</string>
			<key>SATA</key>
			<string>0x0</string>
			<key>WIFI</key>
			<string>0x431214E4</string>
			<key>XHCI</key>
			<string>0x0</string>
		</dict>
		<key>Inject</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0)/Pci(0x02,0)</key>
			<dict>
				<key>## @1 HDMI</key>
				<string></string>
				<key>## @2 HDMI</key>
				<string></string>
				<key>## @3 HDMI</key>
				<string></string>
				<key>## patch0</key>
				<string>Enable internal display after sleep for 0x0a2e0008 on 10.10.2-10.12.x (c) syscl</string>
				<key>## patch1</key>
				<string>Enable internal display after sleep for 0x0a2e000a, 0x0a26000a</string>
				<key>#AAPL00,override-no-edid</key>
				<data>
				</data>
				<key>#HDMI Port</key>
				<string>0x3e9b0000, 0306 port</string>
				<key>#framebuffer-con1-enable</key>
				<integer>1</integer>
				<key>#framebuffer-con1-flags</key>
				<data>
				BgAAAA==
				</data>
				<key>#framebuffer-con1-pipe</key>
				<data>
				EgAAAA==
				</data>
				<key>#framebuffer-con1-type</key>
				<data>
				AAgAAA==
				</data>
				<key>#framebuffer-con2-alldata</key>
				<data>
				AwYIAAAEAADHAwAA
				</data>
				<key>#framebuffer-con2-enable</key>
				<integer>1</integer>
				<key>#framebuffer-con2-flags</key>
				<data>
				BgAAAA==
				</data>
				<key>#framebuffer-con2-pipe</key>
				<data>
				EgAAAA==
				</data>
				<key>#framebuffer-con2-type</key>
				<data>
				AAgAAA==
				</data>
				<key>#framebuffer-con3-enable</key>
				<integer>1</integer>
				<key>#framebuffer-con3-flags</key>
				<data>
				BgAAAA==
				</data>
				<key>#framebuffer-con3-pipe</key>
				<data>
				EgAAAA==
				</data>
				<key>#framebuffer-con3-type</key>
				<data>
				AAgAAA==
				</data>
				<key>#framebuffer-patch0-enable</key>
				<integer>1</integer>
				<key>#framebuffer-patch0-find</key>
				<data>
				AQAAAEAAAAAeAAAABQUJAQ==
				</data>
				<key>#framebuffer-patch0-replace</key>
				<data>
				AQAAAEAAAAAPAAAABQUJAQ==
				</data>
				<key>#framebuffer-patch1-enable</key>
				<integer>1</integer>
				<key>#framebuffer-patch1-find</key>
				<data>
				AQAAAEAAAAAeAgAABQUJAQ==
				</data>
				<key>#framebuffer-patch1-replace</key>
				<data>
				AQAAAEAAAAAfAgAABQUJAQ==
				</data>
				<key>#hda-gfx</key>
				<string>onboard-1</string>
				<key>AAPL,ig-platform-id</key>
				<data>
				BQAmCg==
				</data>
				<key>device-id</key>
				<data>
				EgQAAA==
				</data>
				<key>framebuffer-cursormem</key>
				<data>
				AACQAA==
				</data>
				<key>framebuffer-patch-enable</key>
				<integer>1</integer>
				<key>framebuffer-unifiedmem</key>
				<data>
				AAAAgA==
				</data>
			</dict>
			<key>PciRoot(0)/Pci(0x03,0)</key>
			<dict>
				<key>#hda-gfx</key>
				<string>onboard-1</string>
				<key>#layout-id</key>
				<integer>3</integer>
				<key>#no-controller-patch</key>
				<integer>1</integer>
			</dict>
			<key>PciRoot(0)/Pci(0x1b,0)</key>
			<dict>
				<key>#PinConfigurations</key>
				<data>
				</data>
				<key>#layout-id</key>
				<integer>3</integer>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>Nothing</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Windows</string>
			<string>\EFI\BOOT\BOOTX64.EFI</string>
			<string>Preboot</string>
		</array>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>Speed</key>
			<integer>6</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>TextOnly</key>
		<false/>
		<key>Theme</key>
		<string>ICLOVER</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>PatchVBios</key>
		<false/>
		<key>ig-platform-id</key>
		<string>0x0a260006</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>AppleRTC</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>External icons patch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RXh0ZXJuYWw=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>
				SW50ZXJuYWw=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>TRIM Enabler</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AEFQUExFIFNTRAA=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>0x0a260006 9MB cursor bytes patch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<string>0600260a01030303000000020000300100006000</string>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<string>0600260a01030303000000020000300100009000</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Bluetooth adapter fix</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PGludGVnZXI+MzMyOTI8L2ludGVnZXI+
				</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>BroadcomBluetoothHostControllerUSBTransport</string>
				<key>Replace</key>
				<data>
				PGludGVnZXI+MTwvaW50ZWdlcj4=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Bluetooth adapter fix</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PGludGVnZXI+MTQ1MjwvaW50ZWdlcj4=
				</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>BroadcomBluetoothHostControllerUSBTransport</string>
				<key>Replace</key>
				<data>
				PGludGVnZXI+MjU3ODwvaW50ZWdlcj4=
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>LogEveryBoot</key>
		<string>Yes</string>
		<key>LogLineCount</key>
		<integer>0</integer>
		<key>MountEFI</key>
		<true/>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>12/19/2018</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>IM181.88Z.F000.B00.1812191142</string>
		<key>Board-ID</key>
		<string>Mac-4B682C642B45593E</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C027041014NH69FFB</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>iMac-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>EfiVersion</key>
		<string>167.0.0.0.0</string>
		<key>Family</key>
		<string>iMac</string>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<false/>
		<key>PlatformFeature</key>
		<string>0x00</string>
		<key>ProductName</key>
		<string>iMac18,1</string>
		<key>SerialNumber</key>
		<string>C02T5KZYH7JY</string>
		<key>SmUUID</key>
		<string>51C1B9DC-63F4-4975-80F5-4B41E2BB1FC9</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
